ul{
    list-style: none;
    margin-bottom: 0;
}
ul li:hover{
    cursor: pointer;
}
div,p{
    margin: 0;
    padding: 0;
}
#header, #header a{
    font-size: 12px;
    color: #ffffff;
}
#header .hTop{
    height: 42px;
    width: 100%;
    background: #333333;
}
#header .main{
    // overflow: hidden;
}
#header .main .hLeft{
    float: left;
    height: 42px;
    line-height: 42px;
}
#header .main .hLeft li{
    display: inline-block;
    padding-right: 12px;
    font-size: 12px;
    color: #ffffff;
    position: relative;
}
#header .main .hLeft li .mobilePhone{
    padding-right: 6px;
}
#header .main .hLeft li .webchat{
    padding-left: 14px;
    padding-right: 3px;
}
#header .main .hLeft li .kefuPhone{
    padding-left: 14px;
    padding-right: 4px;
}
#header .main .hLeft li .line{
    width: 1px;
    height: 17px;
    top: 12px;
    right: 0;
    position: absolute;
    display: inline-block;
    background-color: #ffffff;
}
#header .main .hRight{
    float: right;
}
#header .main .hRight>li{
    display: inline-block;
    line-height: 42px;
    padding:0 10px;
}
#header{
    .hTop{
      .hLeft{
          .phone{
              position: relative;
              img{
                width: 80px;
                height: 80px;
                position: absolute;
                left: -1px;
                top: 42px;
                display: none;
              }
          }
          .phone:hover img{
            display: block
          }
          .kefuTel{
              position: relative;
              .phonNum{
                 position: absolute; 
                 background: #ffffff;
                 overflow: hidden;
                 width: 140px;
                 left: -20px;
                 padding: 5px;
                 color: #666;
                 border: 1px solid #ccc;
                 display: none;
                 .iconfont{
                     float: left;
                     font-size: 28px;
                 }
                 div{
                     float: left;
                     p{
                         margin: 0;
                         padding: 0;
                         line-height: 18px;
                         font-size: 16px;
                         margin-left: 5px;
                     }
                 }
              }
          }
          .kefuTel:hover .phonNum{
              display: block;
          }
      }  
      .hRight{
          li{
              span{
                  padding-right: 5px;
              }
          }
          .back{
              position: relative;
                b{
                    // display: line-block;
                    display: block;
                    width: 1px;
                    height: 17px;
                    position: absolute;
                    background-color: #ffffff;
                    right: 5px;
                    top: 12px;
                    margin-right: 5px;
                }
                a{
                    margin-right: 20px;
                }
          }
          .buildEnter{
              position: relative;
            //   display: none;
              ul{
                  width: 100%;
                  display: none;
                  position: absolute;
                  li{
                      width: 100%;
                      height: 20px;
                      color: #000;
                      text-align: center;
                      background: pink;
                      line-height: 20px;
                      border-bottom: 1px solid #ccc;
                  }
                  li:hover{
                      background: #ccc;
                  }
              }
          }
          .buildEnter:hover ul{
            display: block;
          }
          .webGuide{
            //   position: relative;
              .iconfont{
                  padding-right: 5px;
              }
              
          }
      }
      .guideContainer{
            position: absolute;
            width: 100%;
            display: none;
            top: 47px;
            z-index: 190;
            height: 248px;
            padding: 20px 30px 30px 30px;
            // background: #f00;
            background: #ffffff;
            border-bottom: 1px solid #666;
            .guideLeft{
                padding-top: 2px;
                overflow: hidden;
                float: left;
                .about{
                    float: left;
                    margin-right: 48px;
                    h3{
                        font-size: 18px;
                        color: #1f8b31;
                    }
                    ul{
                        margin-top: 21px;
                        li{
                            line-height: 26px;
                            a{
                                font-size: 14px;
                                color: #666;
                            }
                        }
                    }
                }
            }
            .guideRight{
                float: right;
                overflow: hidden;
                padding-top: 2px;
                dl{
                    float: left;
                    margin-right: 35px;
                    dt{
                        font-size: 18px;
                        color: #1f8b31;
                        margin-top: 11px;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}